.competition {
  width: @mobail-width;
  background: @background-competition;
  min-height: 330px;
}

.competition__text:nth-child(1) {
  height: 165px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @color-competition__text;
  background-color: @background-header;
  margin: 0;
  padding-top: 30px;
  box-sizing: border-box;
}

.competition__text:nth-child(2) {
  height: 165px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: @color-competition__text2;
  margin-top: 45px;
}

.competition__span {
  display: none;
}

@media (min-width: @tablet-width) {
  .competition {
    width: @tablet-width;
    min-height: 550px;
  }

  .competition__text:nth-child(1) {
    height: 329px;
    font-size: 50px;
    line-height: 60px;
  }

  .competition__text:nth-child(2) {
    height: 235px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    padding-left: 70px;
    padding-right: 70px;
  }

  .competition__span {
    display: inline;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-align: center;
    color: @color-competition__text2;
    white-space: nowrap;
  }
}

@media (min-width: @desktop-width) {
  .competition {
    width: 100%;
    min-height: 485px;
  }

  .competition__text:nth-child(1) {
    height: 284px;
  }

  .competition__text:nth-child(2) {
    height: 200px;
    width: 730px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
