.contacts-footer {
  background: @background-footer;
  min-height: 612px;
  width: @mobail-width;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contacts-footer__list {
  padding: 0;
}

.contacts-footer__map {
  position: relative;

  &::before {
    content: "";
    background: url("/img/bg-map-mobile@1x.png");
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 -448px;
    width: 320px;
    height: 237px;
    bottom: -277px;
    left: 0;
  }

}

@media (min-width: @tablet-width) {
  .contacts-footer {
    width: @tablet-width;
    min-height: 732px;
  }

  .contacts-footer__map {
    height: 370px;

    &::before {
      content: "";
      background: url("/img/bg-map-mobile@1x.png");
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 -448px;
      height: 237px;
      bottom: 50px;
      left: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts-footer {
    width: 100%;
    min-height: 870px;
  }
}
