.contacts__item {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 46px;
}

.contacts {
  margin: 0;
  margin-left: 5px;
}

.contacts__text {
  font-size: 24px;
  line-heigh: 30px;
  font-weight: 300;
  color: @contacts__text;
  text-align: center;
}

.contacts__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: @contacts__title;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 4px;
}

.contacts__title--write {
  margin-top: 24px;
}

.contacts__phone,
.contacts__mail,
.contacts__address {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: @color-footer;
  text-align: center;
  margin: 0;
}

.contacts__mail,
.contacts__phone {
  &:hover {
    color: @contacts__text;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts--list {
  list-style: none;
  width: 280px;
  padding: 0;
}

.contacts__item--address {
  margin: 0;
  width: 280px;
  margin-left: 12px;
  padding-left: 0;
}

.contacts__title--address {
  margin-top: 28px;
  margin-bottom: 7px;
}

@media (min-width: @tablet-width) {
  .contacts__item {
    display: flex;
    flex-direction: column;
    width: 270px;
  }

  .contacts__text {
    font-size: 40px;
    line-heigh: 50px;
  }

  .contacts__block {
    flex-direction: column;
    width: 270px;
  }

  .contacts__block:nth-child(1) {
    margin-right: 40px;
  }

  .contacts__block--write {
    margin-top: 12px;
  }

  .contacts__title--write {
    margin-bottom: 9px;
  }

  .contacts--list {
    display: flex;
    flex-direction: row;
    width: 600px;
    flex-wrap: wrap;
    min-height: 100px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 35px;
    margin-top: 12px;


  }

  .contacts__item--text {
    width: 450px;
    padding-left: 102px;
  }

  .contacts__title--address {
    margin-top: 16px;
    margin-bottom: 11px;
  }

  .contacts__item--address {
    margin-left: 151px;
    margin-top: 32px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__text {
    font-size: 50px;
    line-heigh: 60px;
  }

  .contacts__item--text {
    width: 550px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
  }

  .contacts--list {
    display: flex;
    flex-direction: row;
    width: 940px;
    flex-wrap: nowrap;
    margin-top: 21px;
    margin-left: 17px;


  }

  .contacts__block--phone {
    order: 1;
  }

  .contacts__item--address {
    order: 2;
    margin: 0;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 52px;
  }

  .contacts__block--write {
    order: 3;
  }

  .contacts--wrapper {
    display: flex;
    width: 940px;
    min-height: 165px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__item {
    padding: 0;
  }

  .contacts__title {
    margin-bottom: 28px;
  }

  .contacts__title--address {
    margin-top: 25px;
  }

  .contacts__block:nth-child(1) {
    margin-right: 31px;
  }
}
