.contacts-footer {
  border: 2px solid red;
  background: @background-footer;
  min-height: 612px;
  width: @mobail-width;
  text-align: center;
  padding: 0;
  margin: 0;
}

.contacts-footer__list {
  padding: 0;
}

@media (min-width: @tablet-width) {
  .contacts-footer {
    width: @tablet-width;
    min-height: 780px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-footer {
    width: @desktop-width;
    min-height: 870px;
  }
}
