.contacts__item {
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.contacts {
  padding: 0;
  margin: 0;
}

.contacts__text {
  font-size: 24px;
  line-heigh: 30px;
  font-weight: 300;
  color: @contacts__text;
  text-align: center;
}

.contacts__title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: @contacts__title;
  text-align: center;
}

.contacts__phone,
.contacts__mail,
.contacts__address {
  font-size: 24px;
  line-height: 26px;
  font-weight: 300;
  color: @color-footer;
  text-align: center;
  margin: 0;
}

.contacts--list {
  list-style: none;
}

@media (min-width: @tablet-width) {
  .contacts__item {
    display: flex;
    flex-direction: column;
    width: 270px;
    padding-left: 180px;
  }

  .contacts__text {
    font-size: 40px;
    line-heigh: 50px;
  }

  .contacts__block {
    flex-direction: column;
    width: 270px;
  }

  .contacts__block:nth-child(1) {
    margin-right: 40px;
  }

  .contacts--list {
    display: flex;
    flex-direction: row;
    width: 600px;
    min-height: 100px;
    list-style: none;
    margin: 0;
    margin-left: 30px;
  }

  .contacts__item--text {
    width: 450px;
    padding-left: 90px;
  }
}

@media (min-width: @desktop-width) {
  .contacts__text {
    font-size: 50px;
    line-heigh: 60px;
  }

  .contacts__item--text {
    width: 550px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts--wrapper {
    display: flex;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__item {
    padding: 0;
  }
}
