.error-text {
  width: @mobail-width;
  height: 290px;
  background: @background-popup;
  text-align: center;
  box-sizing: border-box;
}

.error-text__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 40px;
}

.error-text__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @contacts__text;
}

.error-text__button {
  width: 280px;
  height: 63px;
  padding: 0;
  border: none;
  background: @background-form__button;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @color-button;
  margin-top: 40px;
}
