form {
  display: flex;
  flex-direction: column;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-footer;
  margin-left: 30px;
  position: relative;
  display: block;
}

.form__block--text {
  background: @background-form__block--text;
  border: none;
  min-height: 300px;
}

.form__item--text {
  margin-top: 5px;
}

.form__input--text {
  width: 280px;
  height: 60px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  margin-left: 6px;
  margin-top: 6px;

  &:hover {
    border: 2px solid @contacts__title;
  }

  &:active {
    border: 2px solid @hover;
    outline: none;
  }
}

.form__input--text::placeholder,
.form__input--tel::placeholder,
.form__input--email::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding-left: 20px;
}

.form__block--checkbox {
  border: none;
  background: @background-tariff;
  min-height: 550px;
  padding-top: 0;
}

.form__checkbox {
  padding-top: 36px;
  margin-top: 36px;
  background: @background-tariff;
}


.form__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-footer;
  text-align: center;
  padding-top: 37px;
}

.form__legend--checkbox {
  padding: 0;
}

.form__label--checkbox {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @form__label;
  text-transform: none;
  margin-left: 77px;
}

.form__input--checkbox {
  display: none;
}

.form__input--checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  background: @background-body;
  display: inline-block;
  border: 2px solid #e5e5e5;
  margin: -5px 5px 0 -24px;
  height: 36px;
  width: 36px;
  text-align: center;
  vertical-align: middle;
  left: -49px;
}

.form__input--checkbox + .form__label--checkbox:hover::before {
  content: "";
  position: absolute;
  border: 2px solid @contacts__title;
  height: 36px;
  width: 36px;
}

.form__input--checkbox + .form__label--checkbox:active::before {
  content: "";
  position: absolute;
  border: 2px solid @hover;
  height: 36px;
  width: 36px;
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 8px;
}

.form__item--checkbox {
  margin-bottom: 49px;
}

.form__list--checkbox {
  padding-bottom: 43px;
  height: 120px;
}

.form__list--checkbox:nth-of-type(3) {
  padding-bottom: 34px;
}

.form__list--checkbox:nth-of-type(1) {
  padding-bottom: 48px;
}

.form__wrapper--checkbox {
  margin-top: 41px;
}

.form__item--text:nth-of-type(2) {
  margin-top: 18px;
}

.form__item--text:nth-of-type(3) {
  margin-top: 20px;
}

.form__block--link {
  background: @background-form__block--text;
  border: none;
  margin-top: 21px;
}

.form__label--link {
  margin-bottom: 7px;
}

.form__input--tel,
.form__input--email {
  width: 280px;
  height: 60px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  margin-left: 5px;
}

.form__input--tel {
  margin-bottom: 17px;

  &:hover {
    border: 2px solid @contacts__title;
  }

  &:active {
    border: 2px solid @hover;
    outline: none;
  }
}

.form__input--email {
  &:hover {
    border: 2px solid @contacts__title;
  }

  &:active {
    border: 2px solid @hover;
    outline: none;
  }
}

.form__block--radio {
  border: none;
  background: @background-tariff;
  padding-bottom: 1px;
}

.form__input--radio {
  display: none;
}

.form-radio {
  background: @background-tariff;
  margin-top: 34px;
}

.form__input--radio + .form__label--radio::before {
  content: "";
  position: absolute;
  background: @background-body;
  display: inline-block;
  border: 2px solid #e5e5e5;
  border-radius: 50px;
  margin: -5px 5px 0 -24px;
  height: 36px;
  width: 36px;
  text-align: center;
  vertical-align: middle;
  left: -45px;
}

.form__input--radio + .form__label--radio:hover::before {
  content: "";
  position: absolute;
  border: 2px solid @contacts__title;
  height: 36px;
  width: 36px;
}

.form__input--radio + .form__label--radio:active::before {
  content: "";
  position: absolute;
  border: 2px solid @hover;
  height: 36px;
  width: 36px;
}

.form__input--radio:checked + .form__label--radio::before {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
}

.form__item--radio {
  margin-bottom: 45px;
}

.form__item--radio:nth-of-type(1) {
  margin-top: 34px;
}

.form__label--radio {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @form__label;
  text-transform: none;
  margin-left: 75px;
}

.form__block--textarea {
  margin: 0;
  padding: 0;
  width: @mobail-width;
  background: @background-form__block--text;
  text-align: center;
  border: none;
  box-sizing: border-box;
}

.form__textarea {
  width: 280px;
  height: 200px;
  border: 2px solid #e5e5e5;
  padding: 0;
  padding-top: 14px;
  padding-left: 9px;
  margin-top: 18px;
  box-sizing: border-box;
}

.form__button {
  margin-top: 45px;
  width: 280px;
  height: 63px;
  padding: 0;
  border: none;
  background: @background-form__button;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-button;
  margin-bottom: 35px;
  margin-left: 20px;

  &:hover {
    background: @hover-green-btn;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #e5e5e5;
  }
}

.form__textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding-left: 15px;
}

.form__text {
  margin-top: 0;
  margin-bottom: 0;
}

.form__obligatory {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: @form__label;
}

.form__span {
  color: @color-footer;
  margin-left: 74px;
}

.form__legend--link {
  display: none;
}

.form__b {
  display: none;
}

.form__emotions {
  margin-bottom: 19px;
}

@media (min-width: @tablet-width) {
  .form {
    background: @background-footer;
    padding-top: 8px;
    box-sizing: border-box;
  }

  .form__legend {
    padding: 0;
  }

  .form__block {
    padding: 0;
  }

  .form__input--text {
    width: 100%;
  }

  .form__block--text {
    order: 0;
    border: none;
  }

  .form__item--text {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .form__item--text:nth-child(2) {
    margin-bottom: 47px;
  }

  .form__label {
    padding-top: 15px;
    margin: 0;
  }

  .form__label--text {
    padding-left: 19px;
    margin-right: 14px;
    padding-top: 22px;
  }

  .form__label--text:nth-child(1) {
    margin-right: 8px;
  }

  .form__list {
    margin-right: 50px;
    padding: 0;
  }

  .form__list--text {
    margin-right: 18px;
  }

  .form-radio {
    order: 1;
    background: @background-form__block--text;
    margin-top: 10px;
  }

  .form__item--radio {
    margin-bottom: 30px;
    padding-left: 119px;
  }

  .form__input--radio + .form__label--radio::before {
    left: -36px;
  }

  .form__block--radio {
    order: 1;
    border: 2px solid #e5e5e5;
    background: @background-form__block--text;
    width: 620px;
    min-height: 304px;
    margin-left: 18px;
  }

  .form__block--link {
    order: 2;
    border: 2px solid #e5e5e5;
    padding: 0;
    margin: 0;
    width: 620px;
    min-height: 313px;
    margin-left: 18px;
    margin-top: 56px;
  }

  .form__item--link {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .form__list--link {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 62px;
      height: 56px;
      background-color: @color-input;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 23px 18px;
      right: 14px;
      top: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 62px;
      height: 56px;
      background-color: @color-input;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 25px 22px;
      right: 14px;
      top: 171px;
    }
  }

  .form__label--link {
    order: 2;
    margin-left: 78px;
    margin-bottom: 26px;
  }

  .form__input--tel {
    order: 1;
    margin-top: 38px;
    margin-bottom: 0;
  }

  .form__input--email,
  .form__input--tel {
    width: 497px;
    margin-left: 61px;
  }

  .form__emotions {
    order: 5;
  }

  .form__block--textarea {
    border: 2px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    width: 620px;
    min-height: 276px;
    margin-left: 18px;
  }

  .form__textarea {
    width: 500px;
    height: 190px;
    margin-top: 39px;
    margin-left: 62px;
  }

  .form__button {
    margin-left: 20px;
    width: 300px;
    margin-top: 66px;
  }

  .form__span {
    margin-left: 147px;
    margin-top: 85px;
  }

  .form__block--checkbox {
    order: 3;
    border: 2px solid #e5e5e5;
    background: @background-form__block--text;
    display: flex;
    width: 620px;
    min-height: 557px;
    margin-left: 18px;
    margin-bottom: 58px;
  }

  .form__checkbox {
    background: @background-form__block--text;
    order: 3;
    margin-top: 18px;
  }

  .form__list--checkbox {
    margin-left: 120px;
    margin-right: 0;
  }

  .form__item--checkbox {
    margin-bottom: 38px;
  }

  .form__list--checkbox:nth-of-type(2) {
    margin-bottom: 41px;
  }

  .form__input--checkbox + .form__label--checkbox::before {
    left: -38px;
  }

  .form__wrapper--checkbox {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }

  .form__legend--link {
    display: block;
    padding: 0;
  }

  .form__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-top: 23px;
  }

  .form__br {
    display: none;
  }

  .form__obligatory {
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: @form__label;
  }

  .form__b {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .form__legend {
    padding: 0;
  }

  .form__block--text {
    border: none;
    margin-top: 22px;
    margin-right: 29px;
    width: 464px;
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    min-height: 1262px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }

  .form__list {
    padding: 0;
  }

  .form__label--text {
    padding-left: 6px;
  }

  .form-radio {
    margin-top: 17px;
  }

  .form__block--radio {
    width: 434px;
  }

  .form__item--radio {
    padding-left: 134px;
  }

  .form__item--link {
    display: flex;
    flex-direction: column;
    margin-right: 12px;
  }

  .form__list--link {
    margin-top: 36px;
    padding-left: 57px;
    margin-right: 11px;
    display: flex;
    flex-direction: row;

    &::before {
      content: "";
      position: absolute;
      width: 62px;
      height: 56px;
      background-color: @color-input;
      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: 23px 18px;
      right: 14px;
      top: 2px;
    }

    &::after {
      content: "";
      position: absolute;
      width: 62px;
      height: 56px;
      background-color: @color-input;
      background-image: url("../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: 25px 22px;
      left: 366px;
      top: 2px;
    }
  }

  .form__list--link:nth-of-type(2) {
    padding: 0;
  }

  .form__block--link {
    width: 940px;
    box-sizing: border-box;
    margin-top: 10px;
    min-height: 162px;
    margin-left: 10px;
  }

  .form__wrapper--link {
    display: flex;
    flex-direction: row;
    min-height: 152px;
  }

  .form__label--link {
    order: 2;
    padding-top: 12px;
    margin-bottom: 0;
    margin-left: 17px;
  }

  .form__label--link:nth-child(2) {
    margin-left: 81px;
  }

  .form__input--email {
    order: 1;
    width: 373px;
    margin-left: 0;
  }

  .form__input--tel {
    order: 1;
    width: 373px;
    margin: 0;
    margin-right: 61px;
  }

  .form__list--checkbox:nth-last-child(3) {
    padding-left: 60px;
  }

  .form__checkbox {
    padding-top: 25px;
    margin-top: 31px;
  }

  .form__block--checkbox {
    width: 940px;
    min-height: 234px;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  .form__list--checkbox:nth-of-type(1) {
    margin-left: 58px;
  }

  .form__wrapper--checkbox {
    display: flex;
    flex-direction: row;
  }

  .form__block--textarea {
    width: 940px;
    min-height: 200px;
    margin-left: 10px;
  }

  .form__textarea {
    width: 820px;
    height: 125px;
    margin-left: 57px;
    margin-top: 35px;
  }

  .form__br {
    display: none;
  }

  .form__text {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
  }

  .form__button {
    margin-left: 10px;
  }

  .form__b {
    display: inline;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: @form__label;
  }

  .form__span {
    display: flex;
    width: 320px;
    margin: 0;
    margin-top: 85px;
  }

  .form__obligatory {
    display: block;
  }

  .form__emotions {
    margin-bottom: 0;
    min-height: 367px;
  }
}
