.form-sent {
  width: @mobail-width;
  height: 350px;
  background: @background-body;
  text-align: center;
  box-sizing: border-box;
}

.form-sent__block {
  height: 200px;
  background: @background-popup;
}

.form-sent__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 40px;
}

.form-sent__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @contacts__text;
}

.form-sent__button {
  width: 280px;
  height: 63px;
  padding: 0;
  border: none;
  background: @background-form__button;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @color-button;
  margin-top: 40px;
}
