form {
  display: flex;
  flex-direction: column;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-footer;
  margin-left: 23px;
}

.form__block--text {
  background: @background-form__block--text;
  border: none;
  min-height: 300px;
}

.form__input--text {
  width: 280px;
  height: 60px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  margin-left: 5px;
}

.form__input--text::placeholder,
.form__input--tel::placeholder,
.form__input--email::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding-left: 20px;
}

.form__block--checkbox {
  border: none;
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-footer;
  text-align: center;
  padding-top: 37px;
}

.form__label--checkbox {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @form__label;
  text-transform: none;
}

.form__item {
  margin-top: 45px;
}

.form__block--link {
  background: @background-form__block--text;
  border: none;
}

.form__input--tel,
.form__input--email {
  width: 280px;
  height: 60px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
  margin-left: 5px;
}

.form__input--tel {
  margin-bottom: 30px;
}

.form__block--radio {
  border: none;
}

.form__item--radio {
  margin-bottom: 45px;
}

.form__label--radio {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @form__label;
  text-transform: none;
  margin-left: 40px;
}

.form__block--textarea {
  margin: 0;
  padding: 0;
  width: @mobail-width;
  background: @background-form__block--text;
  text-align: center;
  border: none;
}

.form__textarea {
  width: 280px;
  height: 200px;
  border: 2px solid #e5e5e5;
  margin-top: 15px;
  padding: 0;
}

.form__button {
  margin-top: 45px;
  width: 280px;
  height: 63px;
  padding: 0;
  border: none;
  background: @background-form__button;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @color-button;
  margin-bottom: 35px;
}

.form__textarea::placeholder {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  padding-left: 15px;
}

.form__obligatory {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @form__label;
}

.form__span {
  color: @color-footer;
}

.form__legend--link {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    background: @background-footer;
  }

  .form__legend {
    padding: 0;
  }

  .form__block {
    padding: 0;
  }

  .form__input--text {
    width: 100%;
  }

  .form__block--text {
    order: 0;
    border: none;
  }

  .form__item--text {
    display: flex;
    flex-direction: row;
  }

  .form__label {
    padding-top: 15px;
    margin: 0;
  }

  .form__block--radio {
    order: 1;
    border: 2px solid #e5e5e5;
    background: @background-form__block--text;
  }

  .form__block--link {
    order: 2;
    border: 2px solid #e5e5e5;
    padding: 0;
    margin: 0;
  }

  .form__item--link {
    margin: 0;
  }

  .form__list--link {
    display: flex;
    flex-direction: column;
  }


  .form__block--textarea {
    order: 5;
    border: 2px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .form__textarea {
    width: 500px;
    height: 190px;
    margin-left: 70px;
  }

  .form__block--checkbox {
    order: 5;
    border: 2px solid #e5e5e5;
    background: @background-form__block--text;
    display: flex;
  }

  .form__list {
    margin-right: 50px;
    padding: 0;
  }

  .form__wrapper--checkbox {
    display: flex;
    flex-direction: column;
  }

  .form__legend--link {
    display: block;
    padding: 0;
  }

  .form__text {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .form__br {
    display: none;
  }

  .form__button {
    margin-left: 20px;
  }

  .form__span {
    margin-left: 200px;
    margin-top: 67px;
  }

  .form__obligatory {
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
    color: @form__label;
  }

  .form__input--tel,
  .form__input--email {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .form__legend {
    padding: 0;
  }

  .form__block--text {
    width: 480px;
    margin-left: 120px;
    border: none;
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__list {
    padding: 0;
  }

  .form__block--radio {
    width: 434px;
  }

  .form__item--link {
    display: flex;
    flex-direction: column;
  }

  .form__list--link:nth-last-child(2) {
    padding-left: 60px;
  }

  .form__block--link {
    width: 940px;
    margin-left: 120px;
    box-sizing: border-box;
  }

  .form__wrapper--link {
    display: flex;
    flex-direction: row;
  }

  .form__label--link {
    order: 2;
  }

  .form__input--email {
    order: 1;
    width: 373px;
  }

  .form__input--tel {
    order: 1;
    width: 373px;
    margin: 0;
  }


  .form__list--checkbox:nth-last-child(3) {
    padding-left: 60px;
  }

  .form__block--checkbox {
    width: 940px;
    min-height: 230px;
    display: flex;
    flex-direction: row;
    margin-left: 120px;
  }

  .form__wrapper--checkbox {
    display: flex;
    flex-direction: row;
  }

  .form__block--textarea {
    width: 940px;
    height: 370px;
    margin-left: 120px;
  }

  .form__textarea {
    width: 820px;
    height: 125px;
    margin-left: 70px;
  }

  .form__br {
    display: none;
  }

  .form__text {
    margin-left: 130px;
  }
}
