.page-footer {
  background: @background-footer;
  width: @mobail-width;
}

.page-footer--index {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: @tablet-width;
    min-height: 128px;
    background: @background-footer;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    width: @desktop-width;
    min-height: 195px;
    background: @background-footer;
  }
}
