.photo {
  width: @mobail-width;
  min-height: 2100px;
  background: @background-photo;
  margin: 0;
}

.photo__img {
  line-height: 0;
  display: block;
  margin: 0;
  margin-left: 20px;
}

.photo__block {
  width: 280px;
  min-height: 120px;
  background: @background-photo__block;
  margin: 0;
  margin-left: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}

.photo__list {
  margin-bottom: 20px;
}

.photo__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 15px;
}

.photo__span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @color-photo__text;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 20px;
}

.photo__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @color-photo__text;
  padding-left: 15px;
  padding-right: 15px;
}

.photo__like {
  padding-left: 15px;
  margin-right: 17px;
}

.photo__text {
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-footer;
  padding-bottom: 25px;
}

.photo__please {
  padding-bottom: 15px;
}

.photo__img--hit {
  margin: 0;
  width: 320px;
}

.photo__wrapper {
  margin: 0;
}

.photo__hit {
  min-height: 330px;
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .photo {
    width: @tablet-width;
    min-height: 1500px;
  }

  .photo__list {
    width: 300px;
    height: 455px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .photo__block {
    width: 300px;
    height: 155px;
  }

  .photo__img {
    width: 300px;
    height: 300px;
  }

  .photo__hit {
    min-height: 631px;
    margin-bottom: 0;
  }

  .photo__list--hit {
    min-height: 631px;
    width: 660px;
    margin-bottom: 70px;
  }

  .photo__block--hit {
    width: 620px;
    display: flex;
    flex-direction: column;
  }

  .photo__img--hit {
    width: 660px;
    min-height: 510px;
  }

  .photo__wrapper--block {
    width: 660px;
    display: flex;
    flex-wrap: wrap;
  }

  .photo__name--hit {
    padding: 0;
  }

  .photo__span--hit {
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photo {
    width: @desktop-width;
    min-height: 1266px;
  }

  .photo__list {
    margin-bottom: 54px;
    height: 554px;
  }

  .photo__img {
    height: 400px;
  }

  .photo__block {
    height: 154px;
  }

  .photo__hit {
    width: 100%;
    min-height: 604px;
    margin-bottom: 0;
  }

  .photo__list--hit {
    min-height: 604px;
    width: 100%;
    margin-bottom: 104px;
  }

  .photo__block--hit {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 27px;
    box-sizing: border-box;
  }

  .photo__img--hit {
    width: 100%;
    min-height: 506px;
  }

  .photo__wrapper--block {
    width: 960px;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-top: 50px;
  }
}
