.photo-header {
  min-height: 655px;
  width: @mobail-width;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: @background-header;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 260px;
}

.photo-header__block {
  height: 69px;
  display: flex;
  width: @mobail-width;
  justify-content: space-between;
  box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
}

.photo-header__toggle {
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: @background-header;
}

.photo-header__toggle path:hover {
  fill: @hover;
}

.photo-header__toggle path:active {
  opacity: 0.7;
}

.photo-header__logo {
  margin-left: 20px;
  margin-top: 20px;
  width: 74.426px;
  height: 22.859px;
}

photo-header__logo g:hover {
  fill: @hover;
}

.photo-header__logo g:active {
  opacity: 0.7;
  fill: @color-header;
}

.photo-header__wrapper {
  background-color: rgba(0, 0, 0, 0.2);
}

@media (min-width: @tablet-width) {
  .photo-header {
    width: @tablet-width;
    min-height: 326px;
    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 256px;
  }

  .photo-header__block {
    height: 109px;
    width: @tablet-width;
  }

  .photo-header__toggle {
    margin-top: 44px;
  }
}

@media (min-width: @desktop-width) {
  .photo-header {
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -46px;
    margin-left: auto;
    margin-right: auto;
  }

  .photo-header__wrapper {
    display: flex;
    flex-direction: row;
  }

  .photo-header__list {
    width: 960px;
    min-height: 109px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .photo-header__toggle {
    display: none;
  }

  .photo-header__block {
    width: 160px;;
    box-shadow: none;
    background: none;

  }
}
