.photo {
  width: @mobail-width;
  min-height: 2100px;
  border: 2px solid red;
  background: @background-photo;
  margin: 0;
}

.photo__img {
  line-height: 0;
  display: block;
  margin: 0;
  margin-left: 20px;
}

.photo__block {
  width: 280px;
  min-height: 120px;
  background: @background-photo__block;
  margin: 0;
  margin-left: 20px;
  padding-top: 10px;
  box-sizing: border-box;
}

.photo__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 15px;
}

.photo__span {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: @color-photo__text;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 20px;
}

.photo__comment {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @color-photo__text;
  padding-left: 15px;
  padding-right: 15px;
}

.photo__like {
  padding-left: 15px;
  margin-right: 17px;
}

.photo__text {
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  text-transform: uppercase;
  color: @color-footer;
  padding-bottom: 25px;
}

.photo__please {
  padding-bottom: 15px;
}
