.reviews {
  background: @background-reviews;
  border: 2px solid red;
  min-height: 443px;
  width: @mobail-width;
  text-align: center;
}

.reviews__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 40px;
}
.reviews__author {
  font-size: 14px;
  line-heght: 30px;
  font-weight: normal;
  color: @color-reviews__author;
}
