.reviews {
  background: @background-reviews;
  min-height: 426px;
  width: @mobail-width;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.reviews__title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  padding-top: 28px;
  margin-bottom: 12px;
}

.reviews__author {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  width: 280px;
  margin-left: 20px;
  color: @color-reviews__author;
}

.reviews__item--open {
  display: block;
}

.reviews__item--close {
  display: none;
}

.reviews__profession {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: @color-reviews__author;
}

.reviews__arrow {
  display: none;
}

.reviews__toggles {
  margin-top: 12px;
  margin-left: 8px;
}

.reviews__button {
  border: none;
  padding: 0;
  margin-right: 15px;
}

.reviews__button--1 {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 3px solid #000000;
}

.reviews__button--2,
.reviews__button--3 {
  width: 6px;
  height: 6px;
  background: @color-reviews__author;
  opacity: 0.3;
  border-radius: 50px;
}

@media (min-width: @tablet-width) {
  .reviews {
    width: @tablet-width;
    min-height: 334px;
  }

  .reviews__profession {
    display: block;
    font-size: 14px;
    line-height: 30px;
  }

  .reviews__author {
    font-size: 18px;
    line-height: 30px;
    width: 620px;
  }

  .reviews__title {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 0;
  }

  .reviews__title--open {
    margin-left: 36px;
  }

  .reviews__profession--open {
    margin-left: 30px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 100px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }

  .reviews__item--open {
    padding: 0;
    padding-top: 17px;
    padding-left: 10px;
    width: 620px;
  }

  .reviews__item--close {
    display: none;
  }

  .reviews__arrow {
    display: none;
  }

  .reviews__toggles {
    margin-top: 29px;
    margin-left: 16px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    width: 100%;
    min-height: 375px;
  }

  .reviews__toggles {
    display: none;
  }

  .reviews__wrapper {
    margin-top: 72px;
  }

  .reviews__author {
    width: 680px;
    margin-left: 8px;
  }

  .reviews__title {
    font-size: 26px;
    line-height: 30px;
    margin: 0;
    margin-top: 16px;
  }

  .reviews__profession {
    font-size: 18px;
    margin: 0;
  }

  .reviews__item {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviews__arrow {
    display: block;
  }

  .reviews__item--open {
    padding-top: 95px;
  }
}
