.sending-photo {
  width: @mobail-width;
  min-height: 929px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.sending-photo__text {
  min-height: 151px;
  background: @background-sending-photo__text;
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: @color-photo__text;
  padding-top: 20px;
  box-sizing: border-box;
}

.sending-photo__img {
  padding-left: 20px;
  padding-top: 20px;
}

.sending-photo__filters {
  background-color: @background-sending;
  min-height: 756px;
}

.sending-photo__list {
  display: flex;
}

.sending-photo__battons {
  display: flex;
  flex-direction: column;
}

.sending-photo__list {
  display: flex;
  margin-top: 36px;
  margin-left: 55px
}

.sending-photo__crop {
  margin-right: 30px;
}

.sending-photo__fill {
  margin-right: 41px;
}

.sending-photo__contrast {
  margin-top: 8px;
}

.sending-photo__controls {
  height: 50px;
  width: 280px;
}

.sending-photo__scale--mobil {
  border: 2px solid #000000;
}


@media (min-width: @tablet-width) {
  .sending-photo {
    width: @tablet-width;
    background: @background-sending;
  }

  .sending-photo__text {
    font-size: 18px;
  }

  .sending-photo__br {
    display: none;
  }

  .sending-photo__filters {
    display: flex;
    flex-direction: row;
    min-height: 513px;
    padding-top: 58px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .sending-photo__list {
    height: 430px;
    display: flex;
    flex-direction: column;
  }

  .sending-photo__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  .sending-photo__img {
    width: 300px;
    height: 400px;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .sending-photo {
    width: @desktop-width;
    background: @background-footer;
  }

  .sending-photo__filters {
    width: 940px;
    background: @background-effect-desktop;
    margin-left: 130px;
    padding-left: 80px;
  }

  .sending-photo__wrapper {
    margin-left: 90px;
  }

  .sending-photo__battons {
    flex-direction: row;
  }
}
