.tariff {
  background: @background-tariff;
  min-height: 473px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  background-image: url("../img/bg-triangle-white.svg");
  background-position: 0 -68px;
  background-repeat: no-repeat;
}

.tariff__slider {
  width: 320px;
  border: 1px solid @background-tariff;
  overflow: hidden;
}

.tariff__table {
  margin-left: -540px;
}

.tariff__line {
  display: flex;
  text-align: center;
  justify-content: flex-end;
}

.tariff__list {
  width: 280px;
  list-style: none;
  text-align: center;
  padding: 0;
  height: 98px;
  background: @background-header;
  box-sizing: border-box;
  padding-top: 20px;
  margin-bottom: 0;
  border-left: 2px solid @background-tariff;
}

.tariff__item {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-tariff__item;
}

.tariff__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @color-price;
}

.tariff__cell {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  width: 280px;
  height: 59px;
  text-transform: uppercase;
  background: @background-reviews;
  text-align: left;
  padding-left: 23px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 21px;
  border: 1px solid @background-tariff;
}

.tariff__list--hit {
  position: relative;

  &::before {
    content: "";
    background-image: url("../img/bg-hit-tablet.svg");
    width: 61px;
    height: 61px;
    position: absolute;
    left: 0;
    top: 0;
  }

  &::after {
    content: "хит";
    color: @background-reviews;
    font-size: 16px;
    font-weight: bold;
    transform: rotate(-45deg);
    left: 4px;
    top: 14px;
    position: absolute;
  }
}

.tariff__cell path {
  fill: #3dc644;
}

.tariff__svg--no path {
  fill: #f25b26;
}

.tariff__table__tablet {
  display: none;
}

.tariff__button {
  border: none;
  padding: 0;
  margin-right: 15px;
  cursor: pointer;
}

.tariff__button--2 {
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 3px solid #000000;
}

.tariff__button--1,
.tariff__button--3 {
  width: 6px;
  height: 6px;
  background: @color-reviews__author;
  opacity: 0.3;
  border-radius: 50px;
}

.tariff__toggles {
  padding-left: 19px;
  margin-top: 40px;
}

.tariff__wrapper {
  padding-top: 95px;
  width: 320px;
}

@media (min-width: @tablet-width) {
  .tariff {
    width: 100%;
    min-height: 370px;
    background-position: 0 -47px;
  }

  .tariff__span {
    display: none;
  }

  .tariff__toggles {
    display: none;
  }

  .tariff__slider {
    overflow: visible;
  }

  .tariff__wrapper {
    padding-top: 39px;
  }

  .tariff__table {
    margin-left: 20px;
    margin-top: 42px;
    border-collapse: collapse;
  }

  .tariff__list {
    height: 78px;
    width: 155px;
    border: none;
    border-right: 2px solid #f2f2f2;
    padding-top: 10px;
    border-collapse: collapse;
  }

  .tariff__item {
    font-size: 16px;
  }

  .tariff__price {
    font-size: 18px;
  }

  .tariff__line {
    display: flex;
    width: 620px;
    text-align: center;
    justify-content: flex-end;
  }

  .tariff__cell {
    padding: 0;
    height: 47px;
    width: 160px;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    text-transform: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
  }

  .tariff__cell:first-child {
    justify-content: flex-start;
    padding-left: 17px;
    box-sizing: border-box;
  }

  .contacts--desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .tariff {
    width: 100%;
    min-height: 537px;
    background-position: 0 -10px;
    background-size: contain;
  }

  .tariff__table {
    margin: 0;
    margin-top: 120px;
    margin-left: 7px;
  }

  .tariff__wrapper {
    padding-top: 39px;
  }

  .tariff__tablet {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
  }

  .tariff__list {
    height: 95px;
    width: 234px;
    padding-top: 16px;
  }

  .tariff__line {
    width: 940px;
  }

  .tariff__cell {
    height: 61px;
    font-size: 18px;
    width: 234px;
  }

  .tariff__item {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }

  .tariff__price {
    font-size: 24px;
    line-height: 30px;
    font-weight: 300;
  }
}
