.tariff {
  border: 2px solid red;
  background: @background-tariff;
  min-height: 380px;
  width: @mobail-width;
  text-align: center;
}

.tariff__list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.tariff__item {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-tariff__item;
}

.tariff__price {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @color-price;
}

.tariff__cell {
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.tariff__table {
  padding-left: 45px;
}
