.user-photo {
  width: @mobail-width;
  min-height: 357px;
  border: 2px solid red;
}

.user-photo__list {
  height: 172px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @color-competition__text;
  background-color: @background-header;
  margin: 0;
  padding-top: 30px;
  box-sizing: border-box;
}

.user-photo__text {
  height: 184px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: @color-competition__text2;
  padding-top: 50px;
  margin: 0;
  box-sizing: border-box;
}

.user-photo__block {
  background: @background-footer;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .user-photo {
    width: @tablet-width;
    min-height: 556px;
  }

  .user-photo__list {
    height: 333px;
    font-size: 50px;
    line-height: 60px;
  }

  .user-photo__text {
    height: 228px;
    width: 500px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 75px;
  }

  .user-photo__br {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .user-photo {
    width: @desktop-width;
    min-height: 523px;
  }

  .user-photo__list {
    height: 284px;
  }

  .user-photo__text {
    height: 241px;
    width: 600px;
    margin-left: 315px;
  }
}
