.user-photo {
  width: @mobail-width;
  min-height: 357px;
  border: 2px solid red;
}

.user-photo__list {
  height: 172px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
  color: @color-competition__text;
  background-color: @background-header;
  margin: 0;
  padding-top: 30px;
  box-sizing: border-box;
}

.user-photo__text {
  height: 184px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;
  color: @color-competition__text2;
  padding-top: 50px;
  box-sizing: border-box;
}
