@mobail-width: 320px;
@tablet-width: 660px;
@desktop-width: 960px;
@retina-dpi:  144dpi;
@retina-dppx:  1.5dppx;
@background-body: #ffffff;
@background-header: #1d2631;
@color-header: #ffffff;
@background-download-app: #1d2631;
@color-download-app__btn: #ffffff;
@download-app__text:  #a1a3a6;
@background-advantages-block: #ffffff;
@advantages__text: #283645;
@color-advantages__description: #283645;
@color-reviews__author: #283645;
@background-reviews:  #ffffff;
@background-tariff:  #f2f2f2;
@color-tariff__item:  #ffffff;
@color-price: #f5f5f6;
@background-footer:  #ffffff;
@contacts__text:  #283645;
@contacts__title:  #000000;
@color-footer:  #d22856;
@background-competition: #ffffff;
@color-competition__text: #ffffff;
@color-competition__text2:  #283645;
@background-form__block--text:   #ffffff;
@form__label:   #283645;
@background-form__button:  #2aab6d;
@color-button:   #ffffff;
@background-popup:   #ffffff;
@background-photo:  #ffffff;
@background-photo__block: #f2f2f2;
@color-photo__text:  #283645;
@background-sending-photo__text:  #ffffff;
@background-sending:  #f2f2f2;
@background-effect-desktop:  #f2f2f2;
@background-footer:   #ffffff;
@hover: #d22856;
@hover-green-btn: #1c9b5e;
@sending-icon:  #b7bbbf;
@sending-icon-hover: #8d949b;
@button-cancellation:  #e5e7e7;
@color-input: #e5e5e5;
